{% extends "master.html" %}

{% block title %}
    Home
{% endblock %}


{% block content %}
    <div class="container">
        <h1>Home</h1>
        <div class="container">
            <span>
                <button>Accounts</button>
            </span>
            <span>
                <button>Courses/Labs</button>
            </span>
            <span>
                <button>Access Data</button>
            </span>
        </div>
        <div class="container">
            <span>
                <button>Notifications</button>
            </span>
        </div>
    </div>
{%  endblock %}