{% extends "master.html" %}

{% block title %}
    Accounts
{% endblock %}


{% block content %}
    <!-- changes to this element require acceptance tests to be updated! -->
    <a class="btn btn-primary" href="{% url 'createAccount' %}">Create Accounts</a>

    <!-- changes to this element require acceptance tests to be updated! -->
    <a class="btn btn-primary" href="{% url 'editAccount' %}">Edit Accounts</a>

<div class="table-container">
<table class="my-table">
  <thead>
    <tr>
      <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
  </thead>
  <tbody>
    {% for account in accounts %}
      <tr>
          <td>{{ account.get_email }}</td>
          <td>{{ account.get_first_name }}</td>
          <td>{{ account.get_last_name }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{%  endblock %}