{% extends "master.html" %}
{% load static %}

{% block title %}
    Courses
{% endblock %}


{% block content %}
     <!-- changes to this element require acceptance tests to be updated! -->
    <a class="btn btn-primary" href="{% url 'createCourse' %}">Create Courses</a>

    <!-- changes to this element require acceptance tests to be updated! -->
    <!-- a class="btn btn-primary" href="{% url 'createLab' %}">Create Labs</a -->

<div class="table-container">
<table class="my-table">
  <thead>
    <tr>
      <th>Course Name</th>
        <th>Edit/Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for course in courses %}
      <tr>
          <td>
          <a href="{% url 'displayCourse' course.get_primary_key %}">{{ course.get_course_name }}</a>
          </td>
          <td>
              <a class="btn" href="{% url 'deleteCourse' course.get_primary_key %}">
                  <img src="{% static 'TAScheduler/icons/delete.svg' %}">
              </a>
          </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>


{%  endblock %}